.topcomponent {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    overflow: hidden;
    padding: 15px 20px;
    background:#19233c;
    box-shadow:0 2px 4px 0 rgba(35,36,37,0.30);
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
}

.topcomponent img.logo{
    float: left;
    height: 50px;
    margin-right: 20px;
}

.topcomponent p{
    color: white !important;
    line-height: 50px;
    float: left;
    font-size: 18px;
}

.topcomponent .signout{
    float:right;
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.topcomponent .touxiang{
    float: right;
    margin-right: 30px;
    width: 34px;
    height: 34px;
    margin-top: 8px;
    border-radius: 17px;
    overflow: hidden;
    background: white;
}

.topcomponent .touxiang img {
    width: 100%;
    height: 100%;
}

.topcomponent .username {
    float: right;
    color: white;
    line-height: 50px;
    margin-right: 20px;
    font-size: 14px;
}



.top-a-text{
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;

}