
.leftcomponent {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 100vh;
    background:#121a2c;
    padding-top: 80px;
    box-shadow:0 2px 4px 0 rgba(35,36,37,0.30);
}

.leftcomponent .scrollconstainer {
	width:100%;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}