
.rightcomponent {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background:#eceef3;
    padding-top: 80px;
    padding-left: 220px;
}

.rightcomponent .scrollcontainer{
	width:100%;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}